/*********************************************************************************/
body{
	margin: 0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 11pt;
	color: #000000;
}

ul{
	list-style-type: none;
}

/*********************************************************************************/
#section_0{
	position: relative;
	padding: 6em 0em;
	background-color: #1e0e0b;
}

#nameAutonomy{
	position: absolute;
	left: 1.0em;
	top: 1.15em;
	color: #FFFFFF;
	display: block;
	font-size: 3em;
	font-weight: 550;
}

#navigationMenu{
	position: absolute;
	right: 1em;
	top: 5em;
}
	
#navigationMenu > ul > li{
	float: left;
	margin-left: 0.5em;
	padding: 0.75em 1.25em;
	letter-spacing: 0.05em;
	font-size: 1em;
	color: #FFFFFF;
}	

#navigationMenu > ul > li:nth-child(1){
	background-color: #56bdf4;
	border-radius: 6px;
}

/*********************************************************************************/
#section_1{
	position: relative;
	padding: 16em 0em;
	background-color: #FFFFFF;
	background-image: url("images/image01.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

/*********************************************************************************/
#section_2{
	position: relative;
	padding: 6em 0em 35em 0em;
	background-color: #FFFFFF;
}

#section_2 > section{
	float: left;
	width: 25.0%;
}

#section_2 > section > header > img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#section_2 > section > section > h2{
	display: block;
	position: relative;
	padding: 0.5em 0em 1em 1.15em;
	font-size: 1.75em;
}

#section_2 > section > section > p{
	display: block;
	position: relative;
	padding: 0.0em 0em 2em 1.9em;
	font-size: 1.15em;
	line-height: 1.5;
}

/*********************************************************************************/
#section_3{
	position: relative;
	padding: 6em 0em 40em 0em;
	background-color: #402019;
	color: #965240;
}

#section_3 > section:nth-child(1){
	float: left;
	width: 25.0%;
}

#section_3 > section:nth-child(2){
	float: left;
	width: 25.0%;
}

#section_3 > section:nth-child(3){
	float: left;
	width: 50.0%;
}

#section_3 > section > header > h2{
	display: block;
	position: relative;
	padding: 0.5em 0em 1em 1.45em;
	font-size: 1.75em;
	color: #c9745d;
}

#section_3 > section:nth-child(3) > header > h2{
	position: relative;
	padding: 0.5em 0em 1em 1.0em;
}

#section_3 > section > ul > li > img{
	display: block;
	float: left;
	padding: 0em 0.75em 2em 0em;
}

#section_3 > section:nth-child(3) > section > img{
	display: block;
	float: left;
	width: 90.0%;
	padding: 0em 0.5em 2em 1.5em;
}

#section_3 > section > ul > li > p{
	display: block;
	position: relative;
	padding: 0em 0.5em 2em 0em;
	line-height: 1.5;
	font-size: 1.15em;
}

#section_3 > section:nth-child(3) > section > p{
	display: block;
	position: relative;
	padding: 0em 0.75em 2em 1.5em;
	line-height: 1.5;
	font-size: 1.15em;
}

/*********************************************************************************/
#section_4{
	position: relative;
	padding: 4em 0em 42.5em 0em;
	background-color: #2f2019;
	color: #855240;
}

#section_4 > section:nth-child(1){
	float: left;
	width: 65.0%;
}

#section_4 > section:nth-child(2){
	float: left;
	width: 35.0%;
}
	
#section_4 > section > header > h2{
	display: block;
	position: relative;
	padding: 0.5em 0em 1em 1.15em;
	font-size: 1.75em;
	color: #c9745d;
}

#section_4 > section > section > p{
	display: block;
	position: relative;
	padding: 0.5em 2.0em 1em 1.75em;
	font-size: 1.1em;
	line-height: 1.5;
}

#section_4 > section > section > p > a{
	color: #b5765f;
}

#section_4 strong{
	font-weight: 550;
}

#section_4 > section > ul > li > a{
	display: block;
	float: left;
	line-height: 3.0;
	font-size: 1.1em;
	color: #855240;
}

/*********************************************************************************/
#section_5{
	position: relative;
	padding: 1em 0em;
	background-color: #1e0e0b;
	font-size: 1.25em;
	text-align: center;
	color: #6f4535;
}